.list {
  padding: 0px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 15px 25px;
  border-radius: 15px;
  border: 1px solid #ddc955;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px; 
  width: 450px;
  background-color: rgb(93, 97, 86);
  color:rgb(12, 129, 231);
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.button {
  padding: 3px 5px;
  cursor: pointer;
  border: 1px solid #ddc955;
  border-radius: 20px;
  background-color: rgb(93, 97, 86);
  color: rgb(12, 129, 231);
}
.button:hover,
.button:focus {
  color: red;
  background-color: #ddc955;
  
}
