.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.avatar {
  margin-right: 4;
  background-color: #ddc955;
}
.name {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: #ddc955;
}

img {
  display: block;
  border-radius: 50%;
  
}
